<!DOCTYPE html>

<head>
    <title>Success</title>
</head>

<body>
    <h1>Xin chào @ViewBag.Name, bạn đã đăng ký thành công.</h1>
    <a asp-action="Index" asp-route-name="Back register">Back register</a>
</body>